	.st0{fill:#BAD390;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#dddddd;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st3{fill:#dddddd;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st4{fill:#dddddd;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st5{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st6{font-family:'Roboto-Bold';}
	.st7{font-size:15px;}
	.st8{font-family:'Roboto-Regular';}
	.st9{font-size:11px;}
  .colour1 {fill: #ffa4a9;}
  .colour2 {fill: #cc6674;}
  .colour3 {fill: #993341;}
